.calendar {
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}

.modalBackground {
  display: none;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: -14px;
  transform: translate(-50%, -100%);
  z-index: 3;
}

.containerList {
  position: relative;
}

.modalContent {
  display: flex;
  gap: 16px;
  min-width: 280px;
  flex-direction: column;
  background-color: var(--color-primary-white);
  border-radius: 10px;
  padding: 24px 13px;
  box-shadow: 0px 4px 8px 0px var(--color-secondary-light-blue);
}

.calendarBody {
  display: flex;
  justify-content: center;
  min-height: 460px;
}

.backToToday {
  margin: 0 auto;
  color: var(--color-primary-blue);
  position: absolute;
  z-index: 2;
  top: 0;
}

.backToToday:hover {
  color: var(--secondary-color-5);
  transition: 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.selectedTimes {
  color: var(--color-primary-blue);
  font-size: 16px;
}

.statisticValue {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
}

.title {
  font-size: 20px;
}

.calendarHeader button {
  font-size: 20px;
}

.itemButton {
  color: var(--color-primary-blue);
}

.itemButton:hover {
  color: var(--secondary-color-5);
  transition: 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}

.containerCalendar {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  min-width: 184px;
}

.itemCalendary {
  color: var(--color-secondary-blue);
  text-align: center;
  margin-top: 4px;
  font-size: 10px;
  line-height: 160%;
}

.titleModal {
  font-size: 16px;
}

.itemName {
  color: var(--color-primary-blue);
}

.calendarList {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 16px 26px;
  position: relative;
}

.containerList:hover .modalBackground {
  display: flex;
}

.buttonCalendar {
  border-radius: 20px;
  overflow: hidden;
  background: padding-box, border-box;
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  display: flex;
}

.calendarDay {
  text-align: center;
  background-color: var(--color-primary-white);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 129%;
}

.containerList:hover {
  box-shadow: 0 0 0 2px var(--color-secondary-blue);
}

.isToday {
  box-shadow: 0 0 0 2px var(--color-secondary-orange);
}

.isViewingDay {
  box-shadow: 0 0 0 2px var(--color-secondary-blue);
}

.greenBackground {
  border-color: green;
}

.redBackground {
  border-color: var(--color-secondary-orange);
}

.orangeBackground {
  border-color: var(--color-secondary-red);
}

@media screen and (min-width: 768px) {
  .calendarBody {
    min-height: 292px;
  }

  .calendarList {
    gap: 20px 34px;
  }

  .buttonCalendar {
    width: 34px;
    height: 34px;
  }

  .calendarDay {
    font-size: 16px;
    line-height: 125%;
  }

  .itemCalendary {
    font-size: 13px;
    line-height: 154%;
  }
}

@media screen and (min-width: 1440px) {
  .calendarList {
    gap: 20px 22px;
  }

  .calendarBody {
    min-height: 284px;
  }

  .itemCalendary {
    font-size: 12px;
    line-height: 150%;
  }
}