.calendar {
  max-width: 520px;
  margin: 0 auto;
}
.modalContent {
  position: absolute;
  min-height: 200px;
  z-index: 2;
  display: flex;
  gap: 16px;
  width: fit-content;
  flex-direction: column;
  max-height: 140px;
  background-color: var(--color-primary-white);
  border-radius: 10px;
  padding: 24px 13px;
  box-shadow: 0px 4px 8px 0px var(--color-secondary-light-blue);
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.selectedTimes {
  color: var(--color-primary-blue);
  font-size: 16px;
}
.title {
  font-size: 20px;
}
.calendarHeader button {
  font-size: 20px;
}
.itemButton {
  color: var(--color-primary-blue);
}
.containerCalendar {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.itemCalendary {
  color: var(--color-secondary-blue);
  text-align: center;
  margin-top: 4px;
}
.modalBackground {
  background-color: var(--color-primary-white);
}
.titleModal {
  font-size: 16px;
}
.itemName {
  color: var(--color-primary-blue);
}
.calendarList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 42px 22px;
}
.buttonCalendar:hover {
  box-shadow: 0px 2px 4px 0px rgba(64, 123, 255, 0.3);
}
.containerList {
  overflow: hidden;
}
.calendarDay {
  text-align: center;
  background-color: var(--color-primary-white);
  border-radius: 20px;
  padding: 7px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
