.sectionForm {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: calc(100vh - 65px);
  background-image: image-set(url(images/sign-in-out-mobile.png) 1x,
      url(images/sign-in-out-mobile-2x.png) 2x);
}

@media screen and (min-width: 768px) {
  .sectionForm {
    background-position: top center;
    background-size: contain;
    background-image: image-set(url(images/botle-sign-in-tablet.png) 1x,
        url(images/botle-sign-in-tablet-2x.png) 2x);
  }
}

@media screen and (min-width: 1440px) {
  .sectionForm {
    background-position: bottom left;
    background-image: image-set(url(images/sign-in-out-desktop.png) 1x,
        url(images/sign-in-out-desktop-2x.png) 2x);
  }
}

.Container {
  padding-top: 24px;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  margin-bottom: 16px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.inputError {
  color: var(--secondary-color-3);
  border-color: var(--secondary-color-3);
}

.inputError:active,
.inputError:focus {
  color: var(--secondary-color-3);
  border-color: var(--secondary-color-3);
}

.containerEmail {
  margin-bottom: 16px;
}

.textInput {
  font-size: 18px;
  margin-bottom: 8px;
  display: flex;
}

input.inputError {
  border-color: var(--secondary-color-3);
  color: var(--secondary-color-3);
}

.inputField:active,
.inputField:focus {
  color: var(--color-primary-blue);
}

.inputField::placeholder {
  font-size: 16px;
  color: var(--color-secondary-blue);
}

.inputField {
  color: rgb(64, 123, 255);
  padding: 12px 10px;
  border: 1px solid var(--secondary-color---5);
  border-radius: 6px;
  height: 44px;
  width: 100%;
  font-size: 16px;
  background: var(--primery-color-white);
}

.errorText {
  margin-top: 8px;
  display: flex;
  margin-bottom: 8px;
  color: rgb(239, 80, 80);
}

.buttonForm {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  padding: 8px 30px;
  color: var(--primery-color-white);

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--primery-color-blue);
  width: 100%;
}

.buttonForm:hover {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
  transition: var(--transition-function), var(--transition-time);
}

.buttonForm:active {
  box-shadow: none;
  transition: var(--transition-function), var(--transition-time);
}

.redirectLink {
  font-size: 16px;
  margin-top: 16px;
  color: var(--primery-color-blue);
  display: flex;
  justify-content: flex-start;
}

.redirectLink:hover,
.redirectLink:focus {
  color: var(--secondary-color-5);
}

@media screen and (min-width: 768px) {
  .formContainer {
    width: 336px;
  }

  .inputField::placeholder {
    font-size: 16px;
  }

  .buttonForm {
    padding: 10px 30px;
    font-size: 18px;
    line-height: 133%;
  }
}

@media screen and (min-width: 1440px) {
  .Container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-right: 104px;
    padding-top: 162px;
  }

  .titleFormThumb {
    width: 384px;
    align-self: flex-end;
  }

  .formContainer {
    align-self: flex-end;
  }

  .formContainer {
    width: 384px;
  }
}