.loginContainer {
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #333;
    width: 100%;
}

.label span {
    display: block;
    margin-bottom: 0.5rem;
}

.label input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #28a745;
    display: flex;
    justify-content: center;
}

.button:hover {
    background-color: #218838;
}

.redirectLink {
    margin-top: 1rem;
    color: #555;
}

.link {
    text-decoration: none;
    color: #007bff;
}

.link:hover {
    text-decoration: underline;
}