.loginContainer {
  text-align: center;
  padding: 2rem;
  min-width: 260px;
}

.title {
  display: flex;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
  width: 100%;
}

.label span {
  display: flex;
  margin-bottom: 0.5rem;
}

.label .input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#email_input:active,
#email_input:focus {
  color: var(--color-primary-blue);
}
#email_input::placeholder {
  color: var(--color-secondary-blue);
}

.button {
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.625rem;
  background-color: var(--color-primary-blue);
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 260px;
}

.button:hover {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.redirectLink {
  margin-top: 1rem;
  color: #555;
  display: flex;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  color: #407bff;
}
.redirectPassword {
  color: #555;
  float: right;
}
.link:hover {
  text-decoration: underline;
}
