.sectionForm {
  margin-top: 30px;
}

.loginContainer {
  text-align: center;
}

@media screen and (max-width: 428px) {
  .loginContainer {
    max-width: 320px;
    width: auto;
  }
}

.titleForm {
  display: flex;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
  width: 100%;
}

.label span {
  display: flex;
  margin-bottom: 0.5rem;
}

.label .input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.inputError {
  color: #ef5050;
  border-color: #ef5050;
}

.inputError:active,
.inputError:focus {
  color: #ef5050 !important;
  border-color: #ef5050;
}

.containerEmail {
  margin-bottom: 1rem;
}

.textInput {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  display: flex;
}

input.inputError {
  border-color: #ef5050;
  color: #ef5050;
}

.inputField:active,
.inputField:focus {
  color: var(--color-primary-blue);
}

.inputField::placeholder {
  font-size: 1rem;
  color: var(--color-secondary-blue);
}

.iconField {
  fill: none;
  stroke: var(--color-primary-blue);
}

.inputField {
  color: rgb(64, 123, 255);
  padding: 12px 10px;
  border: 1px solid var(--color-secondary-blue);
  border-radius: 6px;
  height: 44px;
  width: 100%;
}

.inputWithIcon {
  position: relative;
}

.errorText {
  margin-top: 0.5rem;
  display: flex;
  margin-bottom: 0.5rem;
  color: rgb(239, 80, 80);
}

.bottlePicture {
  display: flex;
  justify-content: center;
}

.inputWithIcon .iconField {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.buttonForm {
  font-size: 1.2rem;
  padding: 0.625rem 1.875rem;
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.625rem;
  background-color: var(--color-primary-blue);
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonForm:hover {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.sectionForm {
  max-width: var(--background-screen-width);
  margin: 0 auto;
  min-height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: image-set(
    url(images/background-home-screen-phone.png) 1x,
    url(images/background-home-screen-phone-2x.png) 2x
  );
}

@media screen and (min-width: 768px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .sectionForm {
      max-width: var(--background-screen-width);
      margin: 0 auto;
      background-image: image-set(
        url(images/background-home-screen-tablet.png) 1x,
        url(images/background-home-screen-tablet-2x.png) 2x
      );
    }
  }
}

@media screen and (min-width: 1158px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .sectionForm {
      max-width: var(--background-screen-width);
      margin: 0 auto;
      background-image: image-set(
        url(images/background-element-main-page-desktop.png) 1x,
        url(images/background-element-main-page-desktop-2x.png) 2x
      );
    }
  }
}

.redirectLink {
  font-size: 1rem;
  margin-top: 1rem;
  color: #555;
  display: flex;
  justify-content: flex-start;
}

.redirectForgot {
  font-size: 1rem;
  margin-top: 1rem;
  color: #555;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4.125rem;
}

.linkForm {
  text-decoration: none;
  color: #407bff;
}

.redirectPassword {
  color: #555;
  float: right;
}

.dreamTeam {
  font-size: 1rem;
  color: rgb(64, 123, 255);
}

.footerTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  padding: 20px;
}

.linkForm:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .loginContainer {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
  }

  .titleForm {
    font-size: 1.625rem;
  }

  .textInput {
    font-size: 1.125rem;
    width: 290px;
  }

  .inputField::placeholder {
    font-size: 1rem;
  }

  .buttonForm {
    min-width: 276px;
    font-size: 1.125rem;
  }

  .imgContainer {
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .loginContainer {
    flex-direction: row-reverse;
  }
  .formContainer {
    justify-content: center;
  }
  .bottlePicture {
    min-width: 700px;
  }
}
