.Modal {
  outline: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
  border-radius: 10px;
  padding: 32px 24px;
  max-width: 280px;
  width: 100%;
  background-color: var(--color);
  display: flex;
  flex-direction: column;
  gap: 24px;
  opacity: 0;
}

.modalContentAfterOpen {
  animation: modalFadeIn 0.3s ease-in-out forwards;
}

.modalContentBeforeClose {
  animation: modalFadeOut 0.3s ease-in-out forwards;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -130%);
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -130%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
}

.closeBtn {
  position: absolute;
  right: 30px;
  top: 42px;
  width: 14px;
  height: 14px;
}

.deleteIcon {
  stroke: var(--color-primary-blue);
}

.areYouSure {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.btnThumb {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.deleteBtn,
.cancelBtn {
  width: 100%;
  border-radius: 10px;
  padding: 8px 30px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.deleteBtn {
  background-color: var(--secondary-color-3);
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  color: var(--color-primary-white);
}

.cancelBtn {
  background-color: var(--secondary-color---5);
  color: var(--primery-color-blue);
}

@media screen and (min-width: 768px) {
  .Modal {
    min-width: 592px;
    transform: translate(-50%, 15%);
    top: 20%;
  }

  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -15%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 15%);
    }
  }

  @keyframes modalFadeOut {
    from {
      opacity: 1;
      transform: translate(-50%, 15%);
    }
    to {
      opacity: 0;
      transform: translate(-50%, -15%);
    }
  }

  .btnThumb {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .deleteBtn,
  .cancelBtn {
    width: 160px;
    padding: 10px 30px;
    height: 44px;
    font-size: 18px;
    line-height: 1.33;
  }

  @media screen and (min-width: 1440px) {
    .Modal {
      top: 30%;
      transform: translate(-50%, 20%);
    }

    @keyframes modalFadeIn {
      from {
        opacity: 0;
        transform: translate(-50%, -20%);
      }
      to {
        opacity: 1;
        transform: translate(-50%, 20%);
      }
    }

    @keyframes modalFadeOut {
      from {
        opacity: 1;
        transform: translate(-50%, 20%);
      }
      to {
        opacity: 0;
        transform: translate(-50%, -20%);
      }
    }
  }
}
