.sectionForm {
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  height: 100vh;
  background-image: image-set(
    url(images/bottle-sign-in-phone.png) 1x,
    url(images/bottle-sign-in-phone-2x.png) 2x
  );
}

@media screen and (min-width: 768px) {
  .sectionForm {
    background-position: bottom right;
    background-size: cover;
    background-image: image-set(
      url(images/botle-sign-in-tablet.png) 1x,
      url(images/botle-sign-in-tablet-2x.png) 2x
    );
  }
}

@media screen and (min-width: 1158px) {
  .sectionForm {
    background-position: top left;
    background-size: contain;
    display: flex;
    background-image: image-set(
      url(images/bottle-for-sign-in-desktop.png) 1x,
      url(images/bottle-for-sign-in-desktop-2x.png) 2x
    );
  }
}

.sectionForm {
  padding-top: 30px;
}

.loginContainer {
  text-align: center;
}

.titleForm {
  display: flex;
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  margin-bottom: 16px;
  color: #333;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 16px;
  margin-bottom: 16px;
  color: #333;
  width: 100%;
}

.label span {
  display: flex;
  margin-bottom: 8px;
}

.label .input {
  padding: 8px;
  margin-bottom: 16px;
}

.inputError {
  color: #ef5050;
  border-color: #ef5050;
}

.inputError:active,
.inputError:focus {
  color: #ef5050 !important;
  border-color: #ef5050;
}

.containerEmail {
  margin-bottom: 16px;
}

.textInput {
  font-size: 18px;
  margin-bottom: 8px;
  display: flex;
}

input.inputError {
  border-color: #ef5050;
  color: #ef5050;
}

.inputField:active,
.inputField:focus {
  color: var(--color-primary-blue);
}

.inputField::placeholder {
  font-size: 16px;
  color: var(--color-secondary-blue);
}

.iconField {
  fill: none;
  stroke: var(--color-primary-blue);
}

.inputField {
  color: rgb(64, 123, 255);
  padding: 12px 10px;
  border: 1px solid var(--color-secondary-blue);
  border-radius: 6px;
  height: 44px;
  width: 100%;
  font-size: 16px;
}

.inputWithIcon {
  position: relative;
}

.errorText {
  margin-top: 8px;
  display: flex;
  margin-bottom: 8px;
  color: rgb(239, 80, 80);
}

.bottlePicture {
  display: flex;
  justify-content: center;
}
.inputWithPassword {
  position: relative;
}
.inputContainer {
  margin-bottom: 16px;
}
.inputWithPassword .iconField {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}
.inputWithIcon .iconField {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}

.buttonForm {
  font-size: 19px;
  padding: 10px 30px;
  margin-top: 16px;
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--color-primary-blue);
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonForm:hover {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.redirectLink {
  font-size: 16px;
  margin-top: 16px;
  color: #555;
  display: flex;
  justify-content: flex-start;
}

.redirectForgot {
  font-size: 16px;
  margin-top: 16px;
  color: #555;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 66px;
}

.linkForm {
  text-decoration: none;
  color: #407bff;
}

.redirectPassword {
  color: #555;
  float: right;
}

.dreamTeam {
  font-size: 16px;
  color: rgb(64, 123, 255);
}

.footerTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  padding: 20px;
}

.linkForm:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .loginContainer {
    width: 768px;
    display: flex;
  }

  .textInput {
    font-size: 18px;
    width: 290px;
  }

  .inputField::placeholder {
    font-size: 16px;
  }

  .buttonForm {
    min-width: 276px;
    font-size: 18px;
  }

  .imgContainer {
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .loginContainer {
    flex-direction: row-reverse;
    width: 100%;
    padding-right: 104px;
    align-content: center;
    flex-wrap: wrap;
  }

  .formContainer {
    justify-content: center;
  }

  .inputField {
    width: 384px;
  }

  .bottlePicture {
    min-width: 700px;
  }
}
