.header {
  padding: 8px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: auto; */
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 125%;
  color: var(--primery-color-blue);
}

.link:hover {
  color: var(--secondary-color-5);
}