.header {
  position: relative;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userMenuToggle {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
.iconUser {
  border-radius: 28px;
}
.header {
  position: relative;
  z-index: 1;
}

.userMenuDropdown {
  position: absolute;
  border-radius: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
  box-shadow: 0px 4px 8px 0px var(--color-secondary-light-blue);
  background-color: var(--color-primary-white);
  right: -5%;
}

.userMenuDropdown .itemIcon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
}
.profileDropDown {
  position: relative;
}

.userMenuToggle {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
.icon {
  stroke: var(--primery-color-blue);
}
.menuItem {
  color: var(--primery-color-blue);
}
.userMenuDropdown .menuItem:last-child {
  padding-top: 0;
}
.userMenuDropdown .menuItem {
  padding: 16px 16px;
  cursor: pointer;
}

.listOptions {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.link:hover {
  color: var(--secondary-color-5);
}
.itemText {
  font-size: 16px;
  line-height: 125%;
}
.iconOption {
  stroke: var(--primery-color-blue);
  fill: transparent;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 125%;
  color: var(--primery-color-blue);
}
.userMenu {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin-left: 4px;
}
