@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  /*? Fonts */
  --font-main: 'Roboto', sans-serif;

  /*? Colors */
  --color-primary-white: #ffffff;
  --color-primary-black: #2f2f2f;
  --color-primary-blue: #407bff;
  --color-secondary-gray: #ecf2ff;
  --color-secondary-red: #ef5050;
  --color-secondary-blue: #9ebbff;
  --color-secondary-orange: #ff9d43;
  --color-secondary-light-blue: #d7e3ff;

  --primery-color-white: var(--color-primary-white);
  --primery-color-black: var(--color-primary-black);
  --primery-color-blue: var(--color-primary-blue);
  --secondary-color-2: var(--color-secondary-gray);
  --secondary-color-3: var(--color-secondary-red);
  --secondary-color-4: var(--color-secondary-blue);
  --secondary-color-5: var(--color-secondary-orange);
  --secondary-color---5: var(--color-secondary-light-blue);
  --color: var(--color-primary-white);
  --color-2: var(--color-primary-black);
  --color-3: var(--color-primary-blue);
  --color-4: var(--color-secondary-gray);
  --color-5: var(--color-secondary-red);
  --color-6: var(--color-secondary-blue);
  --color-7: var(--color-secondary-orange);
  --color-8: var(--color-secondary-light-blue);

  /*? Container device width options */
  --mobile-container-width: 280px;
  --tablet-container-width: 704px;
  --desktop-container-width: 1240px;

  /*? Container configurations */
  --container-width: var(--mobile-container-width);
  --container-side-padding: 15px;
  --container-max-width: calc(var(--container-width) + var(--container-side-padding) * 2);

  /*? Background image device width options */
  --mobile-background-screen-width: 320px;
  --tablet-background-screen-width: 768px;
  --desktop-background-screen-width: 1440px;

  /*? Background image size */
  --background-screen-width: var(--mobile-background-screen-width);

  /*? Transition */
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  padding: 0;
  color: currentColor;
  background-color: transparent;
}

input {
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--color-primary-black);
  font-size: 12px;
  font-weight: 400;
  background-color: var(--color-primary-white);
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*? ------------------------ MEDIA ------------------------ */

/* Tablet */
@media screen and (min-width: 768px) {
  :root {
    --container-width: var(--tablet-container-width);
    --background-screen-width: var(--tablet-background-screen-width);
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  :root {
    --container-width: var(--desktop-container-width);
    --background-screen-width: var(--desktop-background-screen-width);
  }
}